<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand">Brand</a>
        <div class="navbar-burger">
            <div class="navbar-burger-line"></div>
            <div class="navbar-burger-line"></div>
            <div class="navbar-burger-line"></div>
        </div>
        <div class="navbar-items-c">
            <nav class="navbar-menu">
                <a class="navbar-menu-link">Home</a>
                <a class="navbar-menu-link">About</a>
                <a class="navbar-menu-link">Contact</a>
            </nav>
        </div>
    </div>
</nav>
<section>
    <div class="gjs-row">
        <div class="gjs-cell">
            <div class="gjs-row">
                <div class="gjs-cell">
                    <div class="text">Insert your text here</div>
                </div>
                <div class="gjs-cell">
                    <form id="contact-form">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" />
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <input type="checkbox" value="M" /><label>M</label>
                            <input type="checkbox" value="F" /><label>F</label>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message"></textarea>
                        </div>
                        <button type="button" id="send-button">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>